doctype html
html(lang="zh-CN")
  meta(charset="utf-8")
  title!= title
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="shortcut icon",href="static/favicon.ico")
  link(rel="stylesheet", href="static/css/bootstrap.min.css", type="text/css")
  link(rel="stylesheet", href="static/css/normalize.css", type="text/css")

body
  div(
    style="height:100px;"
  )
  div.container-fluid
    div(
      class="col-md-12 text-center"
    )
      span Hello World!

script(type="text/javascript" src="static/js/jquery/jquery.min.js")
script(type="text/javascript" src="static/js/app/index.js")
